body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ADD8E6, #ffffff);
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-container h1 {
    color: #000080;
    margin: 0;
    padding-left: 45%;
    font-size: 2em;
}

.header-container .logo {
    width: 180px;
    height: auto;
}

.sidebar {
    position: absolute;
    top: 0px;
    right: 20px;
    text-align: right;
    padding-top: 10px;
}

.sidebar .link {
    display: block;
    color: #000080;
    text-decoration: none;
    margin: 5px 0;
}

.sidebar .link:hover {
    text-decoration: underline;
}

.logout-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#map {
    height: 470px; /* Ύψος του χάρτη */
    width: 50%;    /* Μείωση του πλάτους του χάρτη */
    margin-left: 3%;
    border: 1px solid #ccc; /* Προαιρετικό: Για να βάλεις ένα περίγραμμα γύρω από τον χάρτη */
    margin-top: 2%;
    
}


/* Styles for the Load Items modal pop-up */
.modal2 {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content2 {
    background-color: #ADD8E6;
    margin: auto;
    padding: 30px;
    border: 4px solid #808080;
    width: 900px; /* Width for the modal */
    height: 600px; /* Height for the modal */
    text-align: center;
    position: relative;
    overflow-y: auto; /* Scroll if needed */
    z-index: 1001;
}

.close-load-popup-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000080;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-load-popup-btn:hover,
.close-load-popup-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.load-table-wrapper {
    height: auto;
    overflow-y: auto;
}

.load-table {
    width: 100%;
    border-collapse: collapse;
}

.load-table th,
.load-table td {
    border: 1px solid #000080;
    width: 50%;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
}

.load-table th {
    background-color: #f0f8ff;
    color: #000080;
}

.load-popup-title {
    color: #000080;
    padding-bottom: 10px;
}





.table-wrapper {
    width: 38%;
    margin-right: 2%;
}

.a-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.a-table th,
.a-table td {
    border: 1px solid #000080;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
}

.a-table th {
    background-color: #f0f8ff;
    color: #000080;
}

/* Προσαρμογή πλάτους στηλών */
.a-table th:nth-child(1),
.a-table td:nth-child(1) {
    width: 20%;
}

.a-table th:nth-child(2),
.a-table td:nth-child(2) {
    width: 25%;
}

.a-table th:nth-child(3),
.a-table td:nth-child(3) {
    width: 15%;
}

.a-table th:nth-child(4),
.a-table td:nth-child(4),
.a-table th:nth-child(5),
.a-table td:nth-child(5) {
    width: 10%;
}

.a-table th:nth-child(6),
.a-table td:nth-child(6) {
    width: 10%;
}

/* Στυλ για hover σε όλα τα κελιά της γραμμής */
.a-table tbody tr:hover td {
    background-color: #add8e6;  /* Ανοιχτό μπλε για το hover σε όλα τα κελιά της γραμμής */
    cursor: pointer;  /* Αλλάζει το ποντίκι σε χεράκι */
}

.a-table tbody tr.selected td {
    background-color: #87cefa;  /* Χρώμα επιλογής για την επιλεγμένη γραμμή */
}

.table-title {

    color: #000080;
}

.complete-task-btn{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF7F50; /* Κουμπί σε χρώμα κοραλί */
    color: #ffffff; /* Λευκό κείμενο */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 20px; /* Προσθήκη κενών μεταξύ των κουμπιών */
    margin-left: 53%;
    
}

.cancel-task-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF7F50; /* Κουμπί σε χρώμα κοραλί */
    color: #ffffff; /* Λευκό κείμενο */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    
}

.complete-task-btn:hover, .cancel-task-btn:hover {
    background-color: #FF6347; /* Σκούρο κοραλί στο hover */
}


.leaflet-routing-container-hide {
    display: none;
}


.map-control-container {
    position: absolute;
    top: 22%; /* Adjusted to move the buttons higher */
    left: 4%;
    z-index: 1000;
   
   
}

.view-load-btn {
    padding: 10px 20px;
    background-color: #FF7F50; /* Χρώμα κοραλί */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.view-load-btn:hover {
    background-color: #FF6347; /* Σκούρο κοραλί στο hover */
}


/* Styles for the View Load modal pop-up */
.modal1 {
    display: none; /* Αρχικά κρυφό */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content1 {
    background-color: #ADD8E6;
    margin: auto;
    padding: 30px;
    border: 4px solid #808080;
    width: 900px; /* Πλάτος για το παράθυρο */
    height: 600px; /* Ύψος για το παράθυρο */
    text-align: center;
    position: relative;
    overflow-y: auto; /* Scroll αν χρειαστεί */
    z-index: 1001;
}

.close-view-load-popup-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000080;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-view-load-popup-btn:hover,
.close-view-load-popup-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.view-load-table-wrapper {
    height: auto; /* Σταθερό ύψος για το wrapper του πίνακα */
    overflow-y: auto; /* Scroll μόνο για τον πίνακα */
}

.view-load-table {
    width: 100%;
    border-collapse: collapse;
}

.view-load-table th,
.view-load-table td {
    border: 1px solid #000080;
    width: 50%;
    padding: 8px;
    text-align: left;
    background-color: #ffffff; /* Λευκό χρώμα για όλες τις γραμμές */
}

.view-load-table th {
    background-color: #f0f8ff;
    color: #000080;
}

.popup-title {
    color: #000080;
    padding-bottom: 10px;
}

.load-btn, .unload-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: not-allowed; /* Disabled by default */
}

.load-btn:enabled, .unload-btn:enabled {
    cursor: pointer; /* Change cursor when enabled */
}


/* Styles for the Load Items modal pop-up */
.modal2 {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content2 {
    background-color: #ADD8E6;
    margin: auto;
    padding: 30px;
    border: 4px solid #808080;
    width: 900px; /* Width for the modal */
    height: 600px; /* Height for the modal */
    text-align: center;
    position: relative;
    overflow-y: auto; /* Scroll if needed */
    z-index: 1001;
}

.close-load-popup-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000080;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-load-popup-btn:hover,
.close-load-popup-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.load-popup-title {
    color: #000080;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.load-table-wrapper {
    height: auto;
    overflow-y: auto;
}

.load-table {
    width: 100%;
    border-collapse: collapse;
}

.load-table th,
.load-table td {
    border: 1px solid #000080;
    width: 50%;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
}

.load-table th {
    background-color: #f0f8ff;
    color: #000080;
}

/* Hover and selected row styles */
.load-table tbody tr:hover td {
    background-color: #add8e6;  /* Ανοιχτό μπλε για το hover */
    cursor: pointer;  /* Ο κέρσορας γίνεται χεράκι */
}

.load-table tbody tr.selected td {
    background-color: #87cefa;  /* Σκούρο μπλε για την επιλεγμένη γραμμή */
}

/* Styling for the form container */
.form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.form-label {
    font-size: 1.2em;
    color: #000080;
    font-weight: bold;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 15px; /* Add some space between the label and the input */
}

.form-input {
    padding: 6px;
    border: 1px solid #000080;
    border-radius: 4px;
    margin-left: 20px;
}

/* Make both forms white */
.form-input {
    background-color: #ffffff; /* White background for both fields */
}

/* Adjust size of "Selected Item" form */
#selectedItem {
    width: 40%; /* Slightly larger than the quantity input */
}

.form-input[type="number"] {
    width: 20%; /* Smaller width for the quantity input */
}



/* Styling for the Load Item button */
.load-item-button {
    padding: 10px 20px;
    background-color: #FF7F50;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 60px;
   margin-left: 380px;
    
}

.load-item-button:hover {
    background-color: #FF6347;
}


/* Styles for the Unload Items modal pop-up */
.modal3 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content3 {
    background-color: #ADD8E6;
    margin: auto;
    padding: 30px;
    border: 4px solid #808080;
    width: 900px;
    height: 600px;
    text-align: center;
    position: relative;
    overflow-y: auto;
    z-index: 1001;
}

.close-unload-popup-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000080;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-unload-popup-btn:hover,
.close-unload-popup-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.unload-table-wrapper {
    height: auto;
    overflow-y: auto;
}

.unload-table {
    width: 100%;
    border-collapse: collapse;
}

.unload-table th,
.unload-table td {
    border: 1px solid #000080;
    width: 50%;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
}

.unload-table th {
    background-color: #f0f8ff;
    color: #000080;
}

.unload-popup-title {
    color: #000080;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.unload-item-button {
    padding: 10px 20px;
    background-color: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 120px;
    margin-left: 300px;
    margin-right: 20px;
}

.unload-item-button:hover {
    background-color: #FF6347;
}

.unload-item-button2 {
    padding: 10px 20px;
    background-color: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 120px;
}

.unload-item-button2:hover {
    background-color: #FF6347;
}


/* Hover and selected row styles for the Unload Items */
.unload-table tbody tr:hover td {
    background-color: #add8e6;  /* Ανοιχτό μπλε για το hover */
    cursor: pointer;  /* Ο κέρσορας γίνεται χεράκι */
}

.unload-table tbody tr.selected td {
    background-color: #87cefa;  /* Σκούρο μπλε για την επιλεγμένη γραμμή */
}
