body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ADD8E6, #ffffff); 
    height: 100vh; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-container h1 {
    color: #000080; 
    margin: 0;
    padding-left: 35%;
    font-size: 2em;
}

.header-container .logo {
    width: 180px; 
    height: auto;
}

.sidebar {
    position: absolute;
    top: 0px;
    right: 20px;
    text-align: right;
    padding-top: 10px;
}

.sidebar .link {
    display: block;
    color: #000080; 
    text-decoration: none;
    margin: 5px 0; 
}

.sidebar .link:hover {
    text-decoration: underline;
}


.button-container {
    position: absolute;
    top: 350px; 
    left: 750px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-bwm {
    background-color: #FF7F50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    width: 170px;
    transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.1s ease; 
}

.btn-bwm:active {
    background-color: #FF6347; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
    transform: scale(0.99); 
}


.list-title {
    color: #000080; 
    margin-bottom: 10px;
    text-align: left; 
    margin-left: 150px; 
}


.list-container {
    margin-top: 10px; 
    margin-left: 150px; 
    width: 25%;
    max-height: 300px; 
    overflow-y: auto;
    border: 1px solid #000080;
    padding: 10px;
}


.bottom-button-container {
    display: flex;
    justify-content: flex-start; 
    gap: 40px; 
    margin-top: 20px;
    margin-left: 200px; 
}

.bottom-button-container .btn-bwm {
    width: 170px; 
    
}


.category-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.category-item {
    padding: 8px;
    background-color: #f0f8ff; 
    margin-bottom: 5px;
    border: 1px solid #000080;
    cursor: pointer; 
}

.category-item:hover {
    background-color: #ADD8E6; 
}

.category-item.selected {
    background-color: #87CEEB; 
}
