/* Reset some basic elements */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #d1e0e0, #f4f4f4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
}

.signup-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    transform: translatex(-250px);
}

.form-container {
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

input[type="text"],

input[type="tel"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

input[type="password"]{
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

#mapContainer {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1em;
    margin-bottom: 20px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #008000;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #FF6347;
}


.image-wrapper {
    margin-left: 0px;

}

.disaster-image {
    border-radius: 5px;
    max-width: 70%; /* Μείωση του μεγέθους της εικόνας στο 70% */
    height: auto;
}

.password-container {
    display: flex;
    align-items: center;
}

.password-container input[type="checkbox"] {
    margin-left: 10px;
}